article iframe.FlattrButton {
    margin-top: 10px;
}
i.fa-stack-overflow:hover {
    background-color: #FD8A07;
}
.gist {
    font-size: .85em;
    line-height: 1.1em;
}
.gist table {
    table-layout: initial;
}
