article iframe.FlattrButton {
    margin-top: 10px;
}
i.fa-stack-overflow:hover {
    background-color: #FD8A07;
}
.gist table {
    table-layout: initial;
}
.gist .line, .gist .line-number {
    font-size: 13px;
    line-height: 20px;
}
.article-content li p {
    margin-top: 0;
}
